body {
  padding-top: 5rem;
}
.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #5bc0de;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 3px 3px 3px 3px grey;
  }

  .search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  }

  .searchbar > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:white;
  transition: width 0.4s linear;
  }

  .searchbar > .search_icon{
  background: white;
  color: #5bc0de;
  }

  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  text-decoration:none;
  }

  .content-selection {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}