
{% load static %}
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'planner/creatplan.css' %}">

</head>

  
  <body class="text">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Weltrip Planner</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="{% url 'index' %}">Planner</a>
            <a class="nav-link" href="#">Valuation</a>
          </nav>
        </div>
      </header>
  
      <main role="main" class="inner cover">
        <h1 class="cover-heading">일정 추가 장소를 기입하세요.</h1>
        <!--<p class="lead">당신의 행복한 무장애여행을 위한 동반자 Weltrip의 여행일정 계획 기능입니다. 설레는 마음으로 여행일정을 그려보고 자신만의 두근거리는 일정을 확인하세요.</p>-->
        <label>장소기입
          <input type="text" placeholder="원하는 장소를 적어주세요" style="width:500px;height:30px;font-size:20px;">
        </label>
        
        <p class="lead">
          <a href="{% url 'createplan' %}" class="btn btn-default btn-secondary">장소 추가</a>
          <a href="{% url 'showplan' %}" class="btn btn-default btn-secondary">일정 완료</a>
        </p>
      </main>
  
      <footer class="mastfoot mt-auto">
        <p class="lead">무장애여행 동반자 Weltrip</p>
      </footer>
    </div>
  </body>
 
