<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Weltrip</title>
		<script
  			src="https://code.jquery.com/jquery-3.4.1.min.js"
  			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  			crossorigin="anonymous"></script>
		<script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xx0a203b6a16984d64a15d8527751431de"></script>
		<script type="text/javascript">
		
				
			var map;
			
			var marker_s, marekr_e, waypoint;
			var resultMarkerArr = [];
			//경로그림정보
			var drawInfoArr = [];
			var resultInfoArr = [];
			
			function initTmap(){
				resultMarkerArr = [];
				
			 	// 1. 지도 띄우기
				map = new Tmapv2.Map("map_div", {
					center: new Tmapv2.LatLng({{center_point.mapy}}, {{center_point.mapx}}),
					width : "100%",
					height : "500px",
					zoom : 14,
					zoomControl : true,
					scrollwheel : true
					
				});
				
				// 2. 시작, 도착 심볼찍기
				// 시작
				marker_s = new Tmapv2.Marker({
					// position : new Tmapv2.LatLng(37.5788222356, 126.9769930325),
					position : new Tmapv2.LatLng( {{start_point.mapy}}, {{start_point.mapx}} ),

					icon : "http://tmapapis.sktelecom.com/upload/tmap/marker/pin_r_m_s.png",
					iconSize : new Tmapv2.Size(24, 38),
					map:map
				});
				resultMarkerArr.push(marker_s);
				// 도착
				marker_e = new Tmapv2.Marker({
					// position : new Tmapv2.LatLng(37.5869078301, 127.0005573224),
					position : new Tmapv2.LatLng( {{end_point.mapy}}, {{end_point.mapx}} ),

					icon : "http://tmapapis.sktelecom.com/upload/tmap/marker/pin_r_m_e.png",
					iconSize : new Tmapv2.Size(24, 38),
					map:map
				});
				resultMarkerArr.push(marker_e);
				
				// 3. 경유지 심볼 찍기
				{% if sites_list %}
				{% for site in sites_list %}
				marker = new Tmapv2.Marker({
					position : new Tmapv2.LatLng( {{site.mapy}}, {{mapx}} ),
					
					map:map
				});
				resultMarkerArr.push(marker);
				{% endfor %}
				{% endif %}



				// marker = new Tmapv2.Marker({
				// 	position : new Tmapv2.LatLng(37.5776782272, 126.9938554166),
				// 	icon : "http://tmapapis.sktelecom.com/upload/tmap/marker/pin_b_m_1.png",
				// 	iconSize : new Tmapv2.Size(24, 38),
				// 	map:map
				// });
				// resultMarkerArr.push(marker);
				
				// marker = new Tmapv2.Marker({
				// 	position : new Tmapv2.LatLng(37.5718843365, 126.9872034096),
				// 	icon : "http://tmapapis.sktelecom.com/upload/tmap/marker/pin_b_m_2.png",
				// 	iconSize : new Tmapv2.Size(24, 38),
				// 	map:map
				// });
				// resultMarkerArr.push(marker);
				

				
				// 4. 경로탐색 API 사용요청
				var routeLayer; 
				$("#btn_select").click(function(){
			
					var searchOption = $("#selectLevel").val();
					
					var headers = {}; 
					headers["appKey"]="l7xx0a203b6a16984d64a15d8527751431de";
					headers["Content-Type"]="application/json";
					
					// var param = JSON.stringify({
					// 	"startName" : "출발지",
					// 	"startX" : "126.9769930325",
					// 	"startY" : "37.5788222356",
					// 	"startTime" : "201708081103",
					// 	"endName" : "도착지",
					// 	"endX" : "127.0005573224",
					// 	"endY" : "37.5869078301",
					// 	"viaPoints" : 
					// 		[
					// 		 {
					// 			 "viaPointId" : "test01",
					// 			 "viaPointName" : "name01",
					// 			 "viaX" : "126.9938554166" ,
					// 			 "viaY" : "37.5776782272" 
					// 		 },
					// 		 {
					// 			 "viaPointId" : "test02",
					// 			 "viaPointName" : "name02",
					// 			 "viaX" : "126.9872034096" ,
					// 			 "viaY" : "37.5718843365" 
					// 		 }
					// 		],
					// 	"reqCoordType" : "WGS84GEO",
					// 	"resCoordType" : "EPSG3857",
					// 	"searchOption": searchOption
					// });

					var param = JSON.stringify({
						"startName" : "{{start_point.siteName}}",
						"startX" : "{{start_point.mapx}}",
						"startY" : "{{start_point.mapy}}",
						"startTime" : "201708081103",
						"endName" : "{{end_point.siteName}}",
						"endX" : "{{end_point.mapx}}",
						"endY" : "{{end_point.mapy}}",
						"viaPoints" : 
							[
							{% for site in sites_list %}
							{
								"viaPointId" : "{{site.siteId}}",
								"viaPointName" : "{{site.siteName}}",
								"viaX" : "{{site.mapx}}" ,
								"viaY" : "{{site.mapy}}" 
							},
							{% endfor %}
							],
						"reqCoordType" : "WGS84GEO",
						"resCoordType" : "EPSG3857",
						"searchOption": searchOption
					});
					
					$.ajax({
							method:"POST",
							url:"https://apis.openapi.sk.com/tmap/routes/routeSequential30?version=1&format=json",//
							headers : headers,
							async:false,
							data:param,
							success:function(response){
			
								var resultData = response.properties;
								var resultFeatures = response.features;
								
								// 결과 출력
								//var tDistance = "총 거리 : " + resultData.totalDistance + "km,  ";
								//var tTime = "총 시간 : " + resultData.totalTime + "분  ";
								//var tFare = "총 요금 : " + resultData.totalFare + "원"
							
								//$("#result").text(tDistance+tTime);
								
								//기존  라인 초기화
								
								if(resultInfoArr.length>0){
									for(var i in resultInfoArr){
										resultInfoArr[i].setMap(null);
									}
									resultInfoArr=[];
								}
								
								for(var i in resultFeatures) {
									var geometry = resultFeatures[i].geometry;
									var properties = resultFeatures[i].properties;
									var polyline_;
									
									drawInfoArr = [];
									
									if(geometry.type == "LineString") {
										for(var j in geometry.coordinates){
											// 경로들의 결과값(구간)들을 포인트 객체로 변환 
											var latlng = new Tmapv2.Point(geometry.coordinates[j][0], geometry.coordinates[j][1]);
											// 포인트 객체를 받아 좌표값으로 변환
											var convertPoint = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(latlng);
											// 포인트객체의 정보로 좌표값 변환 객체로 저장
											var convertChange = new Tmapv2.LatLng(convertPoint._lat, convertPoint._lng);
											
											drawInfoArr.push(convertChange);
										}
			
										polyline_ = new Tmapv2.Polyline({
											path : drawInfoArr,
											strokeColor : "#FF0000",
											strokeWeight: 6,
											map : map
										});
										resultInfoArr.push(polyline_);
										
									}else{
										
										var markerImg = "";
										var size = "";			//아이콘 크기 설정
										
										if(properties.pointType == "S"){	//출발지 마커
											markerImg = "http://tmapapis.sktelecom.com/upload/tmap/marker/pin_r_m_s.png";	
											size = new Tmapv2.Size(24, 38);
										}else if(properties.pointType == "E"){	//도착지 마커
											markerImg = "http://tmapapis.sktelecom.com/upload/tmap/marker/pin_r_m_e.png";
											size = new Tmapv2.Size(24, 38);
										}else{	//각 포인트 마커
											markerImg = "http://topopen.tmap.co.kr/imgs/point.png";
											size = new Tmapv2.Size(8, 8);
										}
										
										// 경로들의 결과값들을 포인트 객체로 변환 
										var latlon = new Tmapv2.Point(geometry.coordinates[0], geometry.coordinates[1]);
										// 포인트 객체를 받아 좌표값으로 다시 변환
										var convertPoint = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(latlon);
									  	
									  	marker_p = new Tmapv2.Marker({
									  		position: new Tmapv2.LatLng(convertPoint._lat, convertPoint._lng),
									  		icon : markerImg,
									  		iconSize : size,
									  		map:map
									  	});
									  	
									  	resultMarkerArr.push(marker_p);
									}
								}
							},
							error:function(request,status,error){
								console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
							}
						});
				});
			}
			
			function addComma(num) {
				  var regexp = /\B(?=(\d{3})+(?!\d))/g;
				   return num.toString().replace(regexp, ',');
			}
		</script>
	</head>
	
	<body onload="initTmap()"><!-- 맵 생성 실행 -->
	<p id="result"></p>
		<select id="selectLevel">
			<option value="0" selected="selected">최적추천</option>
		</select>
		<button id="btn_select">경로검색</button>
		
		<div id="map_wrap" class="map_wrap">
			<div id="map_div"></div>
		</div>
		<a href="{% url 'reviseplan' %}" class="btn btn-info btn-block">경로 보기 완료</a>
		
	</body>
</html>					
