@charset "UTF-8";

html{
    
    /* background: url(img/bg2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    width:100%;
    height:100%;
}


body{
    font-family: 'Shrikhand', cursive;
    
    text-align:center;
    /*
    width:100%;
    height:100%;*/
}

.results{
    font-size: 10pt;
    color: black;
    text-align:left;
}

.bonmun{
    padding-top: 0%;
}

hr.top-line{
    border: solid black;
    border-width: 2px 0 0;
}
hr.mid-line{
    border: solid #424242;
    border-width: 1px 0 0;
}


h1{
    text-align:center;
}

.page-header{
    font-size: 22pt;
}



.content-container{
    font-size: 12pt;
    color: #000000;
    text-shadow: 0px 0px 0px;
    font-family: 'Nanum Gothic', sans-serif;
    background-color: rgba(255, 255, 255, 0.5);

    padding-top: 3%;
    padding-left: 3%;

    text-align: center;
}

p{
    font-size: 22pt;
    text-shadow: 0px 0px 0px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    
}

h1 a{
    color: black;
    text-decoration: none;
    
    
    font-family: 'Shrikhand', cursive;

}